@import url('http://fonts.cdnfonts.com/css/avenir');
  
:root {
    --black: #252525;
  
  }
.wrapper {
      margin: 64px;
     
     height: 100vh;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin: 0 415px; 
   width: 610px;
   margin-bottom: 64px;
}
.header-text {
    
    font-weight: 800;
     font-size: 64px;
    line-height: 80px;
    text-align: center;
    color:  var(--black);
}
.header-p{
    font-weight: 400;
font-size: 26px;
line-height: 36px;
text-align: center;

color: rgba(37, 37, 37, 0.8);

}
.btn {
    width: 158px;
    height: 54px;
    text-decoration: none;
     margin: 0 auto;
     padding: 18px 48px;
     border-radius: 16px;
     text-align: center;
     background-color: var(--black) ;
     color: white;
  
}


.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.box{
    width: 316px;
    height: 288px;
    flex: 1 0 22%; /* explanation below */
    margin-bottom: 1rem;
    
    
}

.mix-container{
    width: 100%;
    display: flex;
    height: 600px;
    justify-content: space-between;
    margin-top: 3rem;

}
.mix-container-box {
margin-top: 70px;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 444px;
height: 473px;

}
.mix-container-text{
    font-weight: 800;
    font-size: 56px;
    line-height: 80px;
    color: #252525;
}
.mix-container-p{

height: 144px;
font-weight: 400;
font-size: 26px;
line-height: 36px;
color: rgba(37, 37, 37, 0.8);

}
.btn-black{
    padding: 16px 32px;
    color: white;
    text-decoration: none;
width: 157px;
height: 50px;
margin-top: 40px;
background: #252525;
border-radius: 16px;
}
.top-image{
    width: 408px;
height: 480px;
    align-self: flex-start;

}
.bottom-image {
    width: 408px;
height: 480px;
    align-self: flex-end;
}

.image-container {
    width: 100%;
    margin-top: 70px;
    justify-content: space-between;
    display: flex;
  
align-items: flex-start;
padding: 0px;

}
.image-container img {
    width: 412px;
height: 438.16px;
}